# 概要
このアプリケーションは、シンプルなWebAPIを迅速に構築するためのテンプレートです。
このアプリケーションを使ってAPIを作ることで、NestJSのベストプラクティスや実装方法を具体的なコードで理解しながら開発を進めることができます。

## 機能
- アカウントを新規作成する
- あるアカウントでログインする
- あるアカウントでログアウトする
- 自身のアカウント情報を取得する
- APIのIFをSwaggerで確認できる
- ユニットテストを実行できる

## 技術スタック
- 言語: TypeScript 5.x
- フレームワーク: NestJS 10.x
- ORMライブラリ: Prisma
- 日時操作ライブラリ: date-fns
- テストツール: Jest

## ディレクトリ構成

```
prisma/         # prismaのスキーマ
src/
  main.ts       # アプリケーションの設定が記載されるファイル
  app.module.ts # 全てのモジュールを集約する
  app.service.ts
  health/       # ヘルスチェック用のエンドポイントを配置
  tesk/         # バッチ処理を配置
test/           # テストコード
```

## コーディング規約

### 関数型アプローチ
- 純粋関数を優先
- 不変データ構造を使用
- 副作用を分離
- 型安全性を確保
