## 技術スタック
- NestJS: このAPIのフレームワーク
- Prisma: MySQLに接続するためのORM

## 作業開始準備

`git status` で現在の git のコンテキストを確認します。
もし指示された内容と無関係な変更が多い場合、現在の変更からユーザーに別のタスクとして開始するように提案してください。

無視するように言われた場合は、そのまま続行します。

## 禁止事項
- `git status`以外のgitコマンドは使わない

## ディレクトリ配置規則

```
.cline          # プロンプト
docs/           # ドキュメント置き場
prisma/         # prismaのスキーマ
src/
  main.ts       # アプリケーションの設定が記載されるファイル
  app.module.ts # 全てのモジュールを集約する
  app.service.ts
  health/       # ヘルスチェック用のエンドポイントを配置
  tesk/         # バッチ処理を配置
test/           # テストコード
```
